<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <form>
                <div>
                    用户名：<input type="text" v-model="name">
                </div>
                <div>
                    密&emsp;码：<input type="password" v-model="password" v-on:keyup.enter="submit">
                </div>
            </form>
            <div>
                <button v-on:click="submit">提交</button>
            </div>
        </div>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript">
            var vm = new Vue({
                el:"#app",
                data: {
                    name : "",
                    password : ""
                },
                methods:{
                    submit: function(){
                        console.log(this.name + "    " + this.password);
                    }
                }
            })
        </script>
    </body>
</html>